/* Frutas-------------------------------------------------------------------------------------------------------------------------*/
#imegenes{
    width: 300px;
    height: 250px;
   
}

#contenedor{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 2px solid #000000;
    background-color: #E4F896;
    text-align: center;
}

/* Formulario-------------------------------------------------------------------------------------------------------------------------*/
/* Color validación formulario -----------------------------------------------------------------------------------*/
input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:focus {
background-image: linear-gradient(pink, red);
}

/* Forma formulario ---------------------------------------------------------------------------------------------*/

#contenedorF{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 2px solid #000000;
    background-color: #E4F896;
    text-align: center;
    
}

legend{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 0px solid #000000;
    background-color: #F5FA52;
    text-align: left;
}

.btn1:hover {
    background-color: #008CBA;
    color: white;
}

#botones{
    text-align: center;
}

#buton1{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 2px solid #000000;
    width: 170px;;
    height :70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}

#buton2{    
    border-radius: 33px 0px 33px 0px;
    -moz-border-radius: 33px 0px 33px 0px;
    -webkit-border-radius:33px 0px 33px 0px;
    border: 2px solid #000000;
    width: 170px;;
    height :70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


/*  Contactanos-------------------------------------------------------------------------------------------------------------------------*/
#Contactanos{
    border-radius: 0px 33px 0px 33px;
    -moz-border-radius: 0px 33px 0px 33px;
    -webkit-border-radius: 0px 33px 0px 33px;
    border: 2px solid #000000;
    background-color: #E4F896;
    text-align: center;
    
}
